<h1>Index page</h1>
<a href="/articles">Articles</a>
<a href="/articles/new">add articles</a>
<a href="/site/about">About</a>
<a href="/site/contact">Contact</a>

<div> 
<form method="GET" action="/article">
    <div>
    <label for="query">Search for articles</label>
    <input type="text" name ="query" id="query">
    </div>
    <button type="submit">Look for it! </button>
</form>
</div>
