<h1>Here is your article</h1>
<a class="results" href="/">
<button class="btnResult"> &larr; Back Home  </button>
</a>

<p> </p>
<% if(message){%>
    <%=message %>
<%} else { %>
    <%=articles.title  %> 
<%} %> 
