<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <a class="results" href="/">
        <button class="btnResult"> &larr; Back Home  </button>
        </a>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Magni laboriosam tenetur minus quos architecto consequatur maxime perspiciatis 
    temporibus, perferendis corrupti sint dicta. Tenetur quis, 
    cum natus laborum ipsum molestias nisi. </p>
</body>
</html>